
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#project-scroll::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar for IE, Edge and Firefox */
#project-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}