@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#project-scroll::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Ubuntu', sans-serif;
  
  
}

#about p, #work p, #hero p, #footer p, .projects li, .projects p {
  background: linear-gradient(300deg,#eeeeee,#b5d5c5,#babe4d);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
#project-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#intro_p {
  font-family: 'Dancing Script', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.svg {
  width: 100%;
  height: 100%;
}